html, body {
    overflow: hidden;
    /* Other styles */
}

#pageTitle {
    font-family: 'Arial', sans-serif;
    color: #b17ed8;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    /* Add more styling as needed */
}

body {
    background-image: url('/static/images/sansound.jpg');
    background-size: contain; /* Change from 'cover' to 'contain' */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: to keep the background fixed during scroll */
    height: 100vh;
    margin: 0; /* Remove default margin to prevent scrollbars */
}




#counters {
    display: flex;
    justify-content: space-around; /* Spread out boxes */
    margin-bottom: 20px;
    margin-top: 160px; /* Lower the entire counter div */
}

.counter {
    width: 60px;
    height: 30px;
    margin: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
